.form-style form input,
.form-style form textarea,
.form-style form select {
    width: 100%;
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    font-family: 'Open Sans', sans-serif; 
    background-color: #f0f8ff; 
    color: #172554;
}

.form-style form input:focus, form textarea:focus, form select:focus {
  outline: none;
  border-color: #210254;
  box-shadow: 0 0 0 3px #210254;
}

@keyframes shine {
    0% { background-position: -200% 0; }
    100% { background-position: 200% 0; }
}

.animate-shine {
    background: linear-gradient(120deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.3));
    background-size: 200% 100%;
    animation: shine 2s infinite;
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}

.animate-pulse {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}