{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Login - Bonagit Store</title>
{% endblock meta %}

{% block content %} 

<div class="flex items-center justify-center min-h-screen m-0" style="background-image: url('{% static 'image/choco-background.jpg' %}'); background-size: cover; background-position: center;"></body>>
    <div class="bg-white p-10 rounded-lg shadow-lg w-full max-w-md text-center">
        <h1 class="text-2xl font-bold text-white bg-[#172554] p-5 rounded-md shadow-md mb-3">Login</h1>
        <form method="POST" action="" class="space-y-4">
            {% csrf_token %}
            <input id="username" name="username" type="text" required placeholder="Username" class="w-full p-3 border border-gray-300 rounded-md">
            <input id="password" name="password" type="password" required placeholder="Password" class="w-full p-3 border border-gray-300 rounded-md">
            <input type="submit" value="Sign in" class="w-full animate-pulse hover:bg-[#210254] bg-[#210254] text-white py-3 rounded-md font-roboto-mono transition-colors duration-300 cursor-pointer">
        </form>

        {% if messages %}
        <div class="mt-4">
            {% for message in messages %}
                {% if message.tags == "error" %}
                    <div class="text-red-600 text-sm mt-1">{{ message }}</div>
                {% elif message.tags == "success" %}
                    <div class="text-green-700 text-sm mt-1">{{message}}</div>
                {% else %}
                <div class="message {{ message.tags }}">
                    {{ message }}
                </div>
                {% endif %}
            {% endfor %}
        </div>
        {% endif %}

        <p class="text-[#172554] mt-4">
            Don't have an account yet? 
            <a href="{% url 'main:register' %}" class="font-medium text-pink-500 hover:underline">Register Now!</a>
        </p>
        </div>
</body>
{% endblock content %}
